h1{
    border: 3px solid dodgerblue;
    border-radius: 10px;
    width: 25%;
}
p{
    border-top: 2px solid hsl(120, 100%, 25%);
    border-bottom: 2px solid hsl(45, 100%, 45%);
    border-right: 2px dashed hsl(220, 70%, 40%);
    border-left: 2px dotted hsl(0, 80%, 30%);
    border-radius: 5px;
}